@font-face {
    font-family: 'SpecialElite';
    src: url('./assets/fonts/SpecialElite.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OstrichSans';
    src: url('./assets/fonts/OstrichSansBlack.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.module-icon {
    width: 48px;
    height: 48px;
    object-fit: contain;
    margin-right: 1rem;
    border-radius: 0.5rem;
    flex-shrink: 0;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}